<h1>Password Change</h1>
<div *ngIf="showForm"> 
    <form [formGroup]="passwordChange">
        <div>
            <mat-form-field appearance="outline" style="width: 500px;">
                <mat-label>Old Password</mat-label>
                <input matInput type="password" formControlName="oldPassword">
                <mat-error *ngIf="passwordChange.controls.oldPassword.errors?.required">Old Password is required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 500px">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="newPassword">
                <mat-error *ngIf="passwordChange.controls.newPassword.errors?.required">New Password is required</mat-error>

            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 500px;">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-error *ngIf="passwordChange.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                <mat-error *ngIf="passwordChange.controls.confirmPassword.errors?.mustMatch">Passwords do not match</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="showErrorMessage" class="errorMessage"> 
            Error Changing Password {{errorMessage}}
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="passwordChange.invalid">Change Password</button>
        </div>

    </form>
</div>

<div *ngIf="showSuccessMessage">
    <h1>Password Changed</h1>
</div>